{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ author.username }}{% endblock %}
{% block content %}

<style>
    .auth__form{
        padding: 1.5rem;
        border-radius: 15px;
    }

    .authentication{
      margin: 3rem auto;
    }
</style>
<section class="authentication">
      <form action="" class="auth__form" method="POST"  enctype="multipart/form-data">
          <div class="profile_image">
            <img id="avatar" src="{{user.profile.avatar}}" alt="asaiah">
            <h2 id="realname" >{{user.profile.name}}</h2>
            <small style="color: black;">@{{user.username}}</small>
          </div>
          <div class="w-full">
            {% csrf_token %}
            {{user_form|crispy}}
            {{profile_form|crispy}}
            <div class="bon">
              <button title="Submit" type="submit" >Submit</button>
              <button title="Cancel" ><a href="{{ request.META.HTTP_REFERER }}">Cancel</a></button>
            </div>
          </div>
        </form>
    </section>  
    {% endblock %}
    {% block script %}
    
    <script>
    
    // This updates the avatar
    const fileInput = document.querySelector('input[type="file"]');

    fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    const image = document.querySelector('#avatar');

    if (file && file.type.includes('image')) {
        const url = URL.createObjectURL(file);
        image.src = url;
    }
    });

    // This updates the name
    const realnameInput = document.getElementById('id_realname');
    const realnameOutput = document.getElementById('realname');

    realnameInput.addEventListener('input', (event) => {
    realnameOutput.innerText = event.target.value;
    });

    </script>

{% endblock %}
