{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}{{ author.username }}{% endblock %}
{% block content %}
 <style>
    .contents{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        padding: 0.5rem;
    }
    .flexy{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
    }

    .prof{
        margin-top: 3rem;
    }
  </style>

  <!-- Profile Page Content -->

   <section class="profile__section">
    <div class="prof">
        {% if profile.image %}
        <img src="{{ profile.avatar }}" alt="Profile Picture"/>
        {% else %}
        <img src="{% static 'images/profile.jpg' %}" alt="profile picture">
        {% endif %}
        <div class="prof__title">
            <h4>{{ profile.realname }}</h4>
            <p>@{{ profile.name }}</p>
            <span style="background:none;">Location: {{profile.location.name}}</span>
            {% if profile.bio %}
            <p>
                {{ profile.bio }}
            </p>
            {% else %}
            <p>
               Na so Your Life go end without Bio
            </p>
            {% endif %}
            <span>Followers</span>
        </div>

    </div>

    <a href="{% url 'edit_profile' %}" class="lins">Edit</a>

        <div class="social__lin">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-dribbble"></i></a>
            <a href="#"><i class="fa-brands fa-square-behance"></i></a>
            <a href="#"><i class="fa-brands fa-upwork"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="flexy">

    {% for article in articles %}
            <div class="contents">
                
                <h4>{{ article.title }}</h4>
                <a class="lins" href="{{ article.get_absolute_url }}">
                    {{ article.content|safe|truncatewords:20 }}
                </a>
                <span>{{article.publish|naturaltime}}</span>
                <div class="clip">
                    <a href="#"><i class="fa-solid fa-tags"></i></a>
                    {% for tag in article.tags.all %}
                    <span>{{tag}}</span>
                    {% endfor %}
                </div>
                <hr>
            </div>
        {% endfor %}


        </div>
   </section>

{% endblock %}