{% extends 'registration/base/base.html' %}

{% load static %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}

        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Forgotten your password?</header>
                    <p>Enter your e-mail address to obtain a new password.</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="field input-field">
                            {{ form.as_p}}
                        </div>

                        <div class="field button-field">
                            <button type="submit">Change</button>
                        </div>
                    </form>
                </div>

                <div class="line"></div>
            </div>

{% endblock %}