{% extends 'registration/base/base.html' %}

{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}

        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Change your password</header>
                    <p>Please enter your current password to confirm changes.</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="field input-field">
                            {{ form.as_p}}
                        </div>

                        <div class="field button-field">
                            <button type="submit">Change</button>
                        </div>
                    </form>

                    
                </div>

                <div class="line"></div>

            </div>

{% endblock %}