{% extends 'registration/base/base.html' %}

{% load static %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}

        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Reset your password</header>
                    {% if validlink %}
                    <p>Enter your e-mail address to obtain a new password.</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                            
                            {{ form.as_p}}

                        <div class="field button-field">
                            <button type="submit">Change</button>
                        </div>
                    </form>
                    {% else %}
                    <p>The password reset link was invalid, possibly because it has already 
                    been used. Please request a new password reset.</p>
                     {% endif %}
                </div>

                <div class="line"></div>
            </div>

{% endblock %}