{% extends 'registration/base/base.html' %}

{% load static %}

{% block content %}
<!-- Signup Form -->
<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Signup</header>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="text" placeholder="Enter Username" name="username" class="password">
                </div>
                <div class="field input-field">
                    <input type="text" placeholder="First name" name="first_name" class="password">
                </div>
                <div class="field input-field">
                    <input type="email" name="email" placeholder="Email" class="input">
                </div>
                <div class="field input-field">
                    <input type="password" name="password1" placeholder="Create password" class="password">
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Confirm password" name="password2" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <div class="field button-field">
                    <button type="submit">Signup</button>
                </div>
            </form>
            <div class="form-link">
                <span>Already have an account? <a href="{% url 'login' %}" class="link login-link">Login</a></span>
            </div>
        </div>
        <div class="line"></div>
        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>
        <div class="media-options">
            <a href="#" class="field google">
                <img src="#" alt="" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
    </div>

</section>

{% endblock %}