    {% load static %}
    <section class="footer">
      <div class="links">
        <ul>
          <li><a href="">Resources</a></li>
          <li><a href="">Sitemap</a></li>
          <li><a href="">RSS feed</a></li>
          <li><a href="">Featured request</a></li>
          <li><a href="">Report bug</a></li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a href="">Pages</a></li>
          <li><a href="">About us</a></li>
          <li><a href="">Contact us</a></li>
          <li><a href="">Privacy policy</a></li>
          <li><a href="">Terms and conditions</a></li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a href="">Explore</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">MadewithDjango</a></li>
          <li><a href="">Books</a></li>
          <li><a href="">Courses</a></li>
          <li><a href="">Notepad</a></li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a href="">MadewithDjango</a></li>
          <li><a href="">Submit a project</a></li>
          <li><a href="">Social Media</a></li>
          <li><a href="">Open Source projects</a></li>
          <li><a href="">Edtech</a></li>
          <li><a href="">Fintech</a></li>
        </ul>
      </div>
    </section>
    <button class="pointer">
      <a href="#articles"><i class="bx bx-up-arrow-alt"></i></a>
    </button>
    <section class="copyright">
      <a href="#">
        <img src="{% static 'images/logo.svg' %}" alt="" />
        Narrated
      </a>
      <span> &copy; 2024 Made with Django. All rights reserved. </span>
    </section>