{% extends 'base.html' %} 
{% load humanize %} 
{% load static %} 
{% block title%}{{article.title}}{% endblock %} 
{% block content %}
<!-- Page Content -->

<style>
  .detail__articles pre {
    background: var(--secondary);
    padding: 1rem;
    border-radius: 10px;
   color: var(--primary);
    code {
      color: var(--primary);
    }
    
  }

  .key span{
    
  }
  .clap{
    cursor: pointer;
  }
</style>

<section class="detail__articles">
  <h1>{{ article.title }}</h1>

  <div class="profile" onmouseover="display()" onmouseleave="noDisplay()">
    <img src="{{ article.author.profile.avatar }}" alt="" />
    <div class="text__profile">
      <h4>{{article.author}} . <strong> Follow </strong></h4>
      <span
        >{{article.publish|naturaltime}} read |
        {{article.publish|naturalday}}</span
      >
    </div>
    <div class="hover">
      <div class="text__profile">
        <img src="{{ article.author.profile.avatar }}" alt="" />
        <span>{{ article.author.username }}</span><br />
      </div>
      <div class="text">
        {% if request.user == article.author %}
        <a href="#"><i class="fa-solid fa-user-plus"></i> Edit Article</a>
        <a href="{% url 'edit_profile' %}"><i class="fa-solid fa-user"></i> Edit Profile</a>
        {% else %}
        <a href="#"><i class="fa-solid fa-user-plus"></i> Follow</a>
        <a href="{% url 'userprofile' username=article.author.username %}"><i class="fa-solid fa-user"></i> View Profile</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="detail__appreciate">
    <div class="detail__left" id="like-container">
      {% if user.is_authenticated and user != article.author %}
      <a class="clap"
       hx-get="{% url 'loved' article.id %}"
       hx-target="#loved-{{ article.id }}"
       hx-swap="innerHTML"
       >
        <i class="fa-solid fa-hands-clapping"></i>
         <div id="loved-{{ article.id }}" class="key">
           <span>{{ article.love.count }}</span>
         </div>
      </a>
      {% else %}
      {% if article.love.count > 1 %}
      <div id="loved-{{ article.id }}">
        <span style="color: var(--primary);">{{ article.love.count }}  Loves</span>
      </div>
      {% else %}
       <div id="loved-{{ article.id }}">
         <span style="color: var(--primary);">{{ article.love.count }}  Love</span>
       </div>
      {% endif %}
      {% endif %}
      <a href="#comment">
        <i class="fa-regular fa-comment"></i>
      </a>
    </div>
    <div class="detail__right">
      <a href="#"><i class="fa-solid fa-bookmark"></i></a>
      <a href="{% url 'article:article_share' article.slug %}"><i class="fa-solid fa-share-from-square"></i></a>
      <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
    </div>
  </div>
  <div class="detail__image">
    <!-- Assuming you have a variable named 'article' in your template context -->
    <img src="{{ article.image.url }}" alt="{{ article.title }}" />
    <p>{{article.content|safe}}</p>
    <div class="tags" style="margin-bottom: 2rem; flex-wrap: wrap;">
      {% for tag in article.tags.all %} {% if forloop.counter <= 5 %}
      <a href="#">{{ tag.name }}</a>
      {% endif %} {% endfor %}
    </div>
    <!-- detail reference -->
    <h5>References</h5>
    <span>
      Cabezas, I., Segovia, R., Caratozzolo, P., & Webb, E. (2020). Using
      Software Engineering Design Principles as Tools for Freshman Students
      Learning. 2020 IEEE Frontiers in Education Conference (FIE).
      <a href="#">https://doi.org/10.1109/fie44824.2020.9274177</a>
    </span>
  </div>
  <div class="comment__section">
    <div class="comment-session">
      <div class="post-comment">
        {% include 'includes/comment_form.html' %}
        <div id="comment">
          {% for comment in article.comments.all %}
          {% include 'includes/comment.html' %}
          {% empty %}
          <p class="text">There are no comments.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="profile__end">
    <div class="profile__left">
      <img src="{{ article.author.profile.avatar }}" alt="" />
      <h3>Written by {{user.username}}</h3>
      <span>5 followers</span>
    </div>
    <div class="profile__right">
      <a href="#">Follow</a>
      <a href="#"><i class="fa-solid fa-envelope-open-text"></i></a>
    </div>
  </div>
</section>
{% endblock %}

