{% extends 'base.html' %}
{% load static %}
{% block title %}Create Article Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .create_form{
      height: fit-content;
      margin-top: 6rem;
      width: calc(100% - 20px);
      padding: 2rem 5%;
      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .create_form button{
        margin-top: 6rem;
        background: rgb(195, 195, 235);
        color: black;
        border-radius: 10px;
        outline: none;
        border: none;
        margin-top: 1rem;
        padding: 1rem;
    }
    .create_form button:hover{
        background: rgb(151, 151, 184);
    }
    .create_form span{
        color: #fff;
    }
</style>

<section class="create_form">

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit">Create Article</button>
    </form>

</section>

{% endblock %}