{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {% endblock %}

{% block content %}

<section class="searcher" id="articles">
      <div class="searcher__left">
        <h1>Narrative</h1>
        <p>
          Your Number One Source for All Tech-Related News, In-Depth
          Tutorials, and Valuable Insights. We're Committed to Providing You
          with the Very Best Content, Enriched by Community Standards and
          Expertise. Get Ready to Dive into the World of Django Excellence!
        </p>
        <div class="searcher__btn">
          <a href="#">Submit Project</a>
          <a href="{% url 'article:article_list' %}">Read articles</a>
        </div>
      </div>
      <div class="illustration">
        <img src="{% static '/images/illustration.png' %}" alt="illustration" />
      </div>
    </section>

    <section class="latest">
      <h2>Latest  Articles</h2>
      <P>Read the latest from Narrative</P>
    </section>

     <section class="article__section" >
      {% for article in articles %}
      <article class="articles">
         <div class="tags">
            {% for tag in article.tags.all %}
            <a href="{% url 'article:category' tag.slug %}">{{tag}}</a>
            {% endfor %}
        </div>
        <h2>{{article.title}}</h2>
        <p>
          {{article.content|truncatewords_html:37|safe}}
        </p>
        <div class="articles__readmore">
          <a href="{{ article.get_absolute_url }}">Read more <i class="bx bx-chevrons-right"></i></a>
          <span>{{article.publish|naturaltime}}</span>
        </div>
      </article>
      {% endfor %}
    </section>
     <div class="view-all">
      <button title="view all"><a href="{% url 'article:article_list' %}">View all</a></button>
    </div>

{% endblock %}

